-f /usr/share/pip-wheels
asgiref==3.3.4
certifi==2020.12.5
chardet==4.0.0
Django==3.2.3
django-ckeditor
idna==2.10
numpy
opencv-contrib-python-headless
Pillow
pytz==2021.1
requests
sqlparse==0.4.1
urllib3==1.26.2
