<!DOCTYPE html>
{%extends 'navs/nav.html' %}
{%load static%}
{%load myfilters%}
{%block content%}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="{%static 'assets/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{%static 'assets/css/sb-admin-2.min.css' %}" rel="stylesheet">

</head>
<style>
    div#illustrate {
    max-height: 300px;
    overflow: scroll;
    overflow-x:hidden;
}
button.btn.btn-sm.btn-outline-dark.search-btn {
    position: absolute;
    top: 49px;
    right: 21px;
    border: 0px;
}








</style>
<style>
        .bg-modal, .bg-modal2, .bg-modal3{
        width:100%;
        height:100%;
        z-index:1;
        background-color: rgba(0, 0, 0, 0.7)!important;
        position:fixed;
        left:0;
        top:0;
        display:flex;
        justify-content:center;
        align-items:center;
        display:none;
    }
    .modal-content{
        width:500px!important;
        height:300px!important;
        background:linear-gradient(to bottom, rgb(255 255 255 / 52%) 0%, rgb(255 255 255 / 86%) 100%),url(/static/images/background.png)no-repeat;
        text-align: center!important;
        position:relative;
    }
    .close{
        position:absolute!important;
        top:0!important;
        right:14px;
        font-size:41px;
        transform:rotate(45deg);
        cursor:pointer!important;
    }
    .close:hover{
        color:red;
        position:absolute!important;
        top:0!important;
        right:14px;
        font-size:41px;
        transform:rotate(19deg);
        cursor:pointer!important;
    }
</style>
<body id="page-top">

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom my-3">
    <!--    <h1 class="h2">Dashboard</h1>-->
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2 my-3">
            <div class="together">
                <a href="{%url 'blog_csv' %}" class="d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                        class="bi bi-download fa-sm text-white-50"></i> Generate Report</a>

                <a class="d-sm-inline-block btn btn-sm btn-warning shadow-sm" id="my_post"
                   style="color:#fff;"><i
                        class="bi bi-book-open fa-sm text-white-50"></i> My posts</a>
                <a href="#" class="d-sm-inline-block btn btn-sm btn-info shadow-sm"><i
                        class="bi bi-info-circle fa-sm text-white-50"></i> Others</a>
                <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                    <span data-feather="calendar" class="bi bi-calendar"></span>
                    This week
                </button>


            </div>
        </div>
    </div>
</div>

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->

            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4 mt-3">
                    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                </div>

                <!-- Content Row -->
                <div class="row">

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Earnings
                                            (Monthly)
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">$40,000</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="bi bi-calendar fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Earnings
                                            (Annual)
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">$215,000</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="bi bi-dollar-sign fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-info shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Tasks</div>
                                        <div class="row no-gutters align-items-center">
                                            <div class="col-auto">
                                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                                            </div>
                                            <div class="col">
                                                <div class="progress progress-sm mr-2">
                                                    <div class="progress-bar bg-info" role="progressbar"
                                                         style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                                         aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="bi bi-clipboard-list fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Pending Requests Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-warning shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Pending
                                            Requests
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="bi bi-comments fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Content Row -->

                <div class="row">

                    <!-- Area Chart -->
                    <div class="col-xl-8 col-lg-7">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-dark">Blog likes statistics</h6>
                                <div class="dropdown no-arrow">
                                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="bi bi-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                         aria-labelledby="dropdownMenuLink">
                                        <div class="dropdown-header">Dropdown Header:</div>
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="chart-area">
                                    <canvas id="myAreaChart"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Pie Chart -->
                    <div class="col-xl-4 col-lg-5">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Revenue Sources</h6>
                                <div class="dropdown no-arrow">
                                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                         aria-labelledby="dropdownMenuLink">
                                        <div class="dropdown-header">Dropdown Header:</div>
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="chart-pie pt-4 pb-2">
                                    <canvas id="myPieChart"></canvas>
                                </div>
                                <div class="mt-4 text-center small">
                    <span class="mr-2">
                      <i class="fas fa-circle text-primary"></i> Direct
                    </span>
                                    <span class="mr-2">
                      <i class="fas fa-circle text-success"></i> Social
                    </span>
                                    <span class="mr-2">
                      <i class="fas fa-circle text-info"></i> Referral
                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Content Row -->
                <div class="row">

                    <!-- Content Column -->
                    <div class="col-lg-6 mb-4">

                        <!-- Project Card Example -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Services</h6>
                            </div>
                            <div class="card-body">
                                <h4 class="small font-weight-bold">AD's reached <span class="float-right">20%</span>
                                </h4>
                                <div class="progress mb-4">
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 20%"
                                         aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <h4 class="small font-weight-bold">Blog ratings <span class="float-right">40%</span>
                                </h4>
                                <div class="progress mb-4">
                                    <div class="progress-bar bg-warning" role="progressbar" style="width: 40%"
                                         aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <h4 class="small font-weight-bold">Customer Database <span
                                        class="float-right">60%</span></h4>
                                <div class="progress mb-4">
                                    <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <h4 class="small font-weight-bold">Payout Details <span class="float-right">80%</span>
                                </h4>
                                <div class="progress mb-4">
                                    <div class="progress-bar bg-info" role="progressbar" style="width: 80%"
                                         aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                {%if request.user.category == 'None'%}
                                <h4 class="small font-weight-bold">Account Setup <span
                                        class="float-right">90%</span></h4>
                                <div class="progress">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 90%"
                                         aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                {%else%}
                                <h4 class="small font-weight-bold">Account Setup <span
                                        class="float-right">Complete!</span></h4>
                                <div class="progress">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%"
                                         aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                {%endif%}
                            </div>
                        </div>

                        <!-- Color System -->
                        <div class="row">
                            <div class="col-lg-6 mb-4">
                                <div class="card bg-dark text-white shadow">
                                    <div class="card-body">
                                        Dark
                                        <div class="text-white-50 small">#5a5c69</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-6 mb-4">

                        <!-- Illustrations -->
                        <div class="card shadow mb-4" id="illustrate">
                            <div class="card-header py-3 text-center">
                                <h6 class="m-0 font-weight-bold text-dark">Illustrations</h6>
                                <form action="" method="GET" class="search_form">
                                    <input type="text" class="form-control mt-2" placeholder="Find post ..."
                                           maxlength="56">
                                    <button type="submit" class="btn btn-sm btn-outline-dark search-btn"><i
                                            class="fas fa-search"></i></button>
                                </form>
                            </div>
                            <div class="card-body">
                                <div class="text-center blod">
                                    <div class="my-1 p-3 bg-white rounded shadow-sm">
                                        <h6 class="border-bottom border-gray pb-2 mb-0">Posts</h6>
                                        {%if data%}
                                        {%for obj in data%}
                                        <div class="media text-muted pt-3">
                                            <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32"
                                                 xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
                                                 focusable="false" role="img" aria-label="Placeholder: 32x32"><title>
                                                Placeholder</title>
                                                <rect width="100%" height="100%" fill="rgb(90 92 105)"></rect>
                                                <text x="50%" y="50%" fill="rgb(90 92 105)" dy=".3em">32x32</text>
                                            </svg>
                                            <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                                                <div class="d-flex justify-content-between align-items-center w-100">
                                                    <p class="text-muted d-none" id="{{obj.id}}">{{obj.title|truncate_url}}</p>
                                                    <strong class="text-gray-dark"><a
                                                            href="{%url 'blog_detail' obj.id%}"
                                                            class="text-decoration-none text-gray-dark">{{obj.title}}</a></strong>
                                                    <div class="buts-forms d-flex">
                                                        <button type="button" class="btn btn-sm btn-outline-warning mx-2"
                                                                id="share" onclick="shareClick(this, '{{obj.id}}')"><i class="fas fa-share-alt"></i></button>
                                                        <form action="" method="POST">
                                                        {%csrf_token%}
                                                        <input type="hidden" id="blog_id" name="blog_ID"
                                                               value="{{obj.id}}">
                                                        <button type="submit" class="btn btn-sm btn-outline-danger"
                                                                id="trash"><i class="fas fa-trash"></i></button>
                                                    </form>
                                                    </div>
                                                </div>
                                                <span class="d-block">Posted on: {{obj.created|date:'D d M Y'}} @{{obj.created|time}}</span>
                                            </div>
                                        </div>
                                        {%endfor%}
                                        {%else%}
                                        <h5 class="text-muted mt-4">
                                            <b>No posts yet...</b>
                                        </h5>
                                        {%endif%}
                                        <small class="d-block text-right mt-3">
                                            <a href="#">All suggestions</a>
                                        </small>
                                    </div>
                                </div>
                            </div>

                            <!-- Approach -->

                        </div>
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">My Bio</h6>
                            </div>
                            <div class="card-body text-center">
                                <div class="text-center px-2">
                                    <img class="img-fluid rounded-circle px-3 px-sm-4 mt-3 mb-4"
                                         src="{%static 'assets/images/profile.png' %}" alt="" width="150" height="150">
                                </div>
                                <p class="text-dark font-weight-bolder">{{request.user}}</p>
                                <p>
                                    <a href="{%url 'profile' request.user.pk%}" class="btn btn-sm btn-outline-success my-2 text-success"
                                       id="secrets"><i
                                            class="fas fa-user-edit"></i></a>
                                    <button class="btn btn-sm btn-outline-warning my-2" id="secret"><i
                                            class="fas fa-share-alt"></i></button>
                                    <button class="btn btn-sm btn-outline-info"><i
                                            class="fas fa-caret-down"></i></button>
                                </p>
<!--                                <a target="_blank" rel="nofollow" href="https://undraw.co/">Browse Illustrations on unDraw →</a>-->
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->

</div>
<div class="container bg-info rounded px-3 py-3">
    <div class="my-3 p-3 bg-white rounded shadow-sm">
        <h6 class="border-bottom border-gray pb-2 mb-0">Suggestions</h6>


        <div class="media text-muted pt-3">
            <div class="icon">
                <i class="fas fa-tools fw-bolder"></i>
            </div>

            <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray ml-3">
                <div class="text-decoration-none">
                    <div class="d-flex justify-content-between align-items-center w-100">
                        <strong class="text-gray-dark">Auto-generate report</strong>
                        <span class="border rounded bg-secondary text-left" style="width:32px; height:21px;" id="cont1"><i class="fas fa-circle fw-bold" id="icn1" style="color:white;" onclick="shiftClick1(this)"></i></span>
                    </div>
                </div>
<!--                <span class="d-block"></span>-->
            </div>

        </div>

        <div class="media text-muted pt-3">
            <div class="icon">
                <i class="fas fa-piggy-bank fw-bolder"></i>
            </div>

            <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray ml-3">
                <div class="text-decoration-none">
                    <div class="d-flex justify-content-between align-items-center w-100">
                        <strong class="text-gray-dark">Save 2% of my onion-curr weekly</strong>
                        <span class="border rounded bg-secondary text-left" style="width:32px; height:21px;" id="cont"><i class="fas fa-circle fw-bold text-light"  id="icn" onclick="shiftClick(this)"></i></span>
                    </div>
                </div>
<!--                <span class="d-block"></span>-->
            </div>

        </div>


        <small class="d-block text-right mt-3">
            <a href="#">All suggestions</a>
        </small>
    </div>
</div>
<div class="bg-modal2 rounded py-3 px-3" id="share-post">
    <div class="modal-content py-2 px-3 bg-light">
        <div class="close" onclick="cancelClicker(this)">+</div>
        <i class="fas fa-share-alt" style="font-size:210%; color:#757577;"></i>
        <div class="mt-5 d-flex justify-content-around align-items-center" style="line-height: 10;">
            <a href="" class="socials text-decoration-none text-" id="socials"><i class="fas fa-link text-warning" style="font-size:210%;"></i></a>
            <a href="" class="socials text-decoration-none text-" id="socials-f"><i class="fas fa-blog text-warning" style="font-size:210%;"></i></a>
            <a href="" class="socials text-decoration-none text-" id="socials-i"><i class="fas fa-link text-warning" style="font-size:210%;"></i></a>
        </div>
    </div>
</div>
</body>

</html>
{%endblock%}
{%block scripts%}
<!-- Bootstrap core JavaScript-->
<script src="{%static 'assets/vendor/jquery/jquery.min.js' %}"></script>
<script src="{%static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{%static 'assets/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{%static 'assets/js/sb-admin-2.min.js' %}"></script>

<!-- Page level plugins -->
<script src="{%static 'assets/vendor/chart.js/Chart.min.js' %}"></script>

<!-- Page level custom scripts -->
<script src="{%static 'assets/js/demo/chart-area-demo.js' %}"></script>
<script src="{%static 'assets/js/demo/chart-pie-demo.js' %}"></script>
<script>
  var myPost = document.getElementById('my_post')
  var delPost = document.getElementById('trash')
  var blogID = document.getElementById('blog_id')
  var myIllure = document.getElementById('illustrate')

  myPost.addEventListener('click', ()=> {
    myIllure.style = 'transform: translateY(-500px); transition: 2s ease-in-out;'
  })

var ctx = document.getElementById("myAreaChart");
var myLineChart = new Chart(ctx, {
  type: 'line',
  data: {
    labels: [{%for titles in data%}'{{titles.title}}',{%endfor%}],
    datasets: [{
      label: "No. of likes",
      lineTension: 0.3,
      backgroundColor: "rgb(90 92 105/ 10%)",
      borderColor: "rgb(90 92 105)",
      pointRadius: 3,
      pointBackgroundColor: "rgb(90 92 105)",
      pointBorderColor: "rgb(90 92 105)",
      pointHoverRadius: 3,
      pointHoverBackgroundColor: "rgb(90 92 105/ 100%)",
      pointHoverBorderColor: "rgb(90 92 105/ 50%)",
      pointHitRadius: 10,
      pointBorderWidth: 2,
      data: [{%for likes in data%}{{likes.liked.all.count}},{%endfor%}],
    }],
  },
  options: {
    maintainAspectRatio: false,
    layout: {
      padding: {
        left: 10,
        right: 25,
        top: 25,
        bottom: 0
      }
    },
    scales: {
      xAxes: [{
        time: {
          unit: 'date'
        },
        gridLines: {
          display: false,
          drawBorder: false
        },
        ticks: {
          maxTicksLimit: 7
        }
      }],
      yAxes: [{
        ticks: {
          maxTicksLimit: 4,
          padding: 10,
          // Include a dollar sign in the ticks
          callback: function(value, index, values) {
            return '' + number_format(value);
          }
        },
        gridLines: {
          color: "rgb(234, 236, 244)",
          zeroLineColor: "rgb(234, 236, 244)",
          drawBorder: false,
          borderDash: [2],
          zeroLineBorderDash: [2]
        }
      }],
    },
    legend: {
      display: false
    },
    tooltips: {
      backgroundColor: "rgb(255,255,255)",
      bodyFontColor: "#858796",
      titleMarginBottom: 10,
      titleFontColor: '#6e707e',
      titleFontSize: 14,
      borderColor: '#dddfeb',
      borderWidth: 1,
      xPadding: 15,
      yPadding: 15,
      displayColors: false,
      intersect: false,
      mode: 'index',
      caretPadding: 10,
      callbacks: {
        label: function(tooltipItem, chart) {
          var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
          return datasetLabel + ': ' + number_format(tooltipItem.yLabel);
        }
      }
    }
  }
});
</script>
<script>
    function shareClick(element, ID){
        const titleTag = document.getElementById(ID)
        var socialTag = document.getElementById('socials')
        var objectTag = titleTag.innerHTML
        console.log(objectTag)
        document.querySelector(".bg-modal2").style="display:flex!important;"
        socialTag.href= 'https://www.facebook.com/sharer/share.php?u=http://127.0.0.1:8001/blog/'+ID+'/'+objectTag;
    }
    function cancelClicker(element){
        document.querySelector(".bg-modal2").style="display:none!important;"
    }
    function shiftClick(element){
        var contTag = document.getElementById('cont')
        var iconTag = document.getElementById('icn')
        if (contTag.classList.contains('text-left')){
            contTag.classList.remove('text-left');
            contTag.classList.add('text-right');
            contTag.style = 'background-color:#36b9cc !important; width:32px; height:21px;'
        }else{
            contTag.classList.remove('text-right');
            contTag.classList.add('text-left');
            contTag.style = 'background-color:rgb(133 135 150) !important; width:32px; height:21px;'
        }
    }

        function shiftClick1(element){
        var contTag = document.getElementById('cont1')
        var iconTag = document.getElementById('icn1')
        if (contTag.classList.contains('text-left')){
            contTag.classList.remove('text-left');
            contTag.classList.add('text-right');
            contTag.style = 'background-color:#36b9cc !important; width:32px; height:21px;'
        }else{
            contTag.classList.remove('text-right');
            contTag.classList.add('text-left');
            contTag.style = 'background-color:rgb(133 135 150) !important; width:32px; height:21px;'
        }
    }
</script>
{%endblock%}
